<h1><%= @planet.name %></h1>

<%= image_tag @planet.image %>

<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Orbit</td>
      <td>Diameter</td>
      <td>Mass</td>
      <td>Moons</td>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @planet.name %></td>
      <td><%= @planet.orbit %></td>
      <td><%= @planet.diameter %></td>
      <td><%= @planet.mass %></td>
      <td><%= @planet.moons %></td>
    </tr>
  </tbody>
</table>
