<h1><%= @planet.name %></h1>

<%= image_tag @planet.image, :class => 'feature' unless @planet.image.nil? %>

<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Orbit</td>
      <td>Diameter</td>
      <td>Mass</td>
      <td>Moons</td>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @planet.name %></td>
      <td><%= @planet.orbit %></td>
      <td><%= @planet.diameter %></td>
      <td><%= @planet.mass %></td>
      <td><%= @planet.moons %></td>
    </tr>
  </tbody>
</table>

<div class="controls">
  <%= link_to 'Edit planet', planet_edit_path(@planet.id) %>
  <%= button_to 'Delete planet', planet_path(@planet.id), :method => 'delete' %>
</div>
